<!DOCTYPE html>
<html manifest="/cache.appcache">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token %>">
    <%= if Guardian.Plug.current_token(@conn) do %>
      <meta name='guardian_token' content="<%= Guardian.Plug.current_token(@conn) %>">
    <% end %>
    <link href="/images/startup.png"
          media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon.png">
    <title>ExMoney</title>

    <link href="<%= static_path(@conn, "/css/framework7.css") %>" rel="stylesheet">
    <link href="<%= static_path(@conn, "/css/mobile.css") %>" rel="stylesheet">

  </head>

  <body>
    <div class="statusbar-overlay"></div>
    <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, "/js/framework7.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/mobile.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
