<div class="view view-main">
  <div class="page navbar-fixed" data-name="start-screen">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">&nbsp;</div>
        <div class="title">ExMoney</div>
        <div class="right"></div>
      </div>
    </div>
  </div>
</div>
