use Mix.Config

config :ex_money,
  saltedge_client_id: "your client id",
  saltedge_service_secret: "your service secret"

config :ex_money, ExMoney.Repo,
  username: "postgres",
  password: "",
  database: "ex_money_dev",
  hostname: "localhost"
