<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class=<%= if @navigation == "account", do: "active"%>><%= link "User Account", to: settings_user_path(@conn, :edit) %></li>
    <li class=<%= if @navigation == "logins", do: "active"%>><%= link "Saltedge Logins", to: settings_login_path(@conn, :index) %></li>
    <li class=<%= if @navigation == "accounts", do: "active"%>><%= link "Bank Accounts", to: settings_account_path(@conn, :index) %></li>
    <li class=<%= if @navigation == "categories", do: "active"%>><%= link "Categories", to: settings_category_path(@conn, :index) %></li>
    <li class=<%= if @navigation == "rules", do: "active"%>><%= link "Rules", to: settings_rule_path(@conn, :index) %></li>
  </ul>
</div>
