<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class=<%= if @navigation == "overview", do: "active"%>><%= link "Overview", to: dashboard_path(@conn, :overview) %></li>
    <li class=<%= if @navigation == "transactions", do: "active"%>><%= link "Transactions", to: transaction_path(@conn, :index) %></li>
  </ul>
</div>
